In [1]:
#import dependencies
import pandas as pd

In [2]:
#set path to find csv files
school = "Resources/schools_complete.csv"
student = "Resources/students_complete.csv"

In [3]:
#store csv files into Pandas DataFrames
school_data = pd.read_csv(school)
student_data = pd.read_csv(student)

In [4]:
#combine data into one csv
all_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
all_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
#remove student ID columns 
all_data2 = all_data[["student_name", "gender", "grade", "school_name", "reading_score", "math_score", "type", "size", "budget" ]]
all_data2.tail()

,student_name,gender,grade,school_name,reading_score,math_score,type,size,budget
39165,Donna Howard,F,12th,Thomas High School,99,90,Charter,1635,1043130
39166,Dawn Bell,F,10th,Thomas High School,95,70,Charter,1635,1043130
39167,Rebecca Tanner,F,9th,Thomas High School,73,84,Charter,1635,1043130
39168,Desiree Kidd,F,10th,Thomas High School,99,90,Charter,1635,1043130
39169,Carolyn Jackson,F,11th,Thomas High School,95,75,Charter,1635,1043130

In [6]:
unique_schools = all_data2["school_name"].nunique()
print(unique_schools)

15

In [7]:
#calculate total students
total_students = all_data2["student_name"].count()
print(total_students)

39170

In [13]:
#calculate total budget
total_budget = school_data["budget"].sum()
print(total_budget)

24649428

In [14]:
#calculate average math score
avg_math = all_data2["math_score"].mean()
print(avg_math)

78.98537145774827

In [15]:
avg_read = all_data2["reading_score"].mean()
print(avg_read)

81.87784018381414