In [1]:
#import dependencies
import pandas as pd

In [2]:
#set path to find csv files
school = "Resources/schools_complete.csv"
student = "Resources/students_complete.csv"

In [3]:
#store csv files into Pandas DataFrames
school_data = pd.read_csv(school)
student_data = pd.read_csv(student)

In [4]:
#combine data into one dataset
all_data = pd.merge(student_data, school_data, how="left", on=["school_name"])
all_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
#remove student ID columns 
all_data2 = all_data[["student_name", "gender", "grade", "school_name", "reading_score", "math_score", "type", "size", "budget" ]]
all_data2.head()

,student_name,gender,grade,school_name,reading_score,math_score,type,size,budget
0,Paul Bradley,M,9th,Huang High School,66,79,District,2917,1910635
1,Victor Smith,M,12th,Huang High School,94,61,District,2917,1910635
2,Kevin Rodriguez,M,12th,Huang High School,90,60,District,2917,1910635
3,Dr. Richard Scott,M,12th,Huang High School,67,58,District,2917,1910635
4,Bonnie Ray,F,9th,Huang High School,97,84,District,2917,1910635

In [6]:
unique_schools = all_data2["school_name"].nunique()

In [10]:
#calculate total students
total_students = all_data2["student_name"].count()

In [11]:
#calculate total budget
total_budget = school_data["budget"].sum()

In [12]:
#calculate average math score
avg_math = all_data2["math_score"].mean()

In [13]:
#calculate average reading score
avg_read = all_data2["reading_score"].mean()

In [14]:
#percentage of student who passed math (pass = (>= 70))
pass_math = all_data2[(all_data2["math_score"] >= 70)].count()["student_name"]
per_pass_math = pass_math / float(total_students) * 100

In [15]:
#percentage of student who passed reading (pass = (>= 70))
pass_read = all_data2[(all_data2["reading_score"] >= 70)].count()["student_name"]
per_pass_read = pass_read / float(total_students) * 100

In [16]:
#percentage of student who passed math & reading (pass = (>= 70))
combined = all_data2[(all_data2["reading_score"] >= 70) & (all_data2["math_score"] >= 70)].count()["student_name"]
combined_pass = combined / float(total_students) * 100

In [33]:
#create new DataFrame of the distric's key metrics
district_summary = pd.DataFrame(
    {"Total Schools" : [unique_schools], 
     "Total Students" : [int(total_students)], 
     "Total Budget" : [total_budget], 
     "Average Math Score": [avg_math], 
     "Average Reading Score": [avg_read],
     "% Passing Math" : [per_pass_math], 
     "% Passing Reading" : [per_pass_read], 
     "% Overall Passing" : [combined_pass]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [34]:
#format DataFrame with appropriate formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format) 
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [35]:
school_types = school_data.set_index(["school_name"])["type"]

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [40]:
#calculate how many students in each school
per_school_counts = all_data2["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [42]:
#calcuate each school budget and per student budget
per_school_budget = all_data2.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [75]:
#calculate average math/reading scores per school
per_school_math = all_data2.groupby(["school_name"]).mean()["math_score"]
per_school_reading = all_data2.groupby(["school_name"]).mean()["reading_score"]
per_pass_math

74.9808526933878

In [73]:
#calculate how many schools passed math/reading (passing = (>= 70))
schools_pass_math = all_data2.loc[(all_data2["math_score"] >= 70)]
school_math_passing_rate = schools_pass_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [74]:
schools_pass_reading = all_data2.loc[(all_data2["reading_score"] >= 70)]
school_reading_passing_rate = schools_pass_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
school_reading_passing_rate

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64