In [2]:
#import dependencies
import pandas as pd

In [3]:
#set path to find csv files
school = "Resources/schools_complete.csv"
student = "Resources/students_complete.csv"

In [4]:
#store csv files into Pandas DataFrames
school_data = pd.read_csv(school)
student_data = pd.read_csv(student)

In [5]:
#combine data into one dataset
all_data = pd.merge(student_data, school_data, how="left", on=["school_name"])
all_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
#remove student ID columns 
all_data2 = all_data[["student_name", "gender", "grade", "school_name", "reading_score", "math_score", "type", "size", "budget" ]]
all_data2.head()

,student_name,gender,grade,school_name,reading_score,math_score,type,size,budget
39165,Donna Howard,F,12th,Thomas High School,99,90,Charter,1635,1043130
39166,Dawn Bell,F,10th,Thomas High School,95,70,Charter,1635,1043130
39167,Rebecca Tanner,F,9th,Thomas High School,73,84,Charter,1635,1043130
39168,Desiree Kidd,F,10th,Thomas High School,99,90,Charter,1635,1043130
39169,Carolyn Jackson,F,11th,Thomas High School,95,75,Charter,1635,1043130

In [57]:
unique_schools = all_data2["school_name"].nunique()

In [120]:
#calculate total students
total_students = float(int(all_data2["student_name"].count()))

In [59]:
#calculate total budget
total_budget = school_data["budget"].sum()

In [60]:
#calculate average math score
avg_math = all_data2["math_score"].mean()

In [61]:
#calculate average reading score
avg_read = all_data2["reading_score"].mean()

In [62]:
#percentage of student who passed math (pass = (>= 70))
pass_math = all_data2[(all_data2["math_score"] >= 70)].count()["student_name"]
per_pass_math = pass_math / float(total_students) * 100

In [63]:
#percentage of student who passed reading (pass = (>= 70))
pass_read = all_data2[(all_data2["reading_score"] >= 70)].count()["student_name"]
per_pass_read = pass_read / float(total_students) * 100

In [64]:
#percentage of student who passed math & reading (pass = (>= 70))
combined = all_data2[(all_data2["reading_score"] >= 70) & (all_data2["math_score"] >= 70)].count()["student_name"]
combined_pass = combined / float(total_students) * 100

In [65]:
#create new DataFrame of the distric's key metrics
district_summary = pd.DataFrame(
    {"Total Schools" : [unique_schools], 
     "Total Students" : [total_students], 
     "Total Budget" : [total_budget], 
     "Average Math Score": [avg_math], 
     "Average Reading Score": [avg_read],
     "% Passing Math" : [per_pass_math], 
     "% Passing Reading" : [per_pass_read], 
     "% Overall Passing" : [combined_pass]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [119]:
#convert the datatype of Total Student from object to integer
district_summary = district_summary.astype({"Total Students": float(int)}, errors = 'raise')
#format DataFrame with appropriate formatting
#district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format) 
#district_summary

TypeError: float() argument must be a string or a number, not 'type'

In [117]:
district_summary["Total Students"].dtype

dtype('O')